:root {
    --blue: #161826;
    --dark-text: #131313;
    --white: #ffffff;
    --primary-background: #F3F0F0;
    --secondary-background: #020202;
    --button-active: #c0a78f;
    --button-hover: #161826;

    --primary-font: 'Montserrat', sans-serif;
    --secodary-font: 'Inter', sans-serif;

    --transition: all 0.3s ease;
}

body, html {
    overflow-x: hidden;
    margin: unset;
    padding: unset;
}

body {
    font-family: var(--primary-font);
    color: var(--dark-text);
    background: var(--primary-background);
    margin: unset;
    width: 100%;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

button {
    color: #131313;
    background-color: #c0a78f;
    font-weight: 500;
    border-radius: 6px 30px 6px 30px;
    border: unset;
    font-family: var(--primary-font);
}

button:hover {
    color: #FFFFFF;
    background-color: #161826;
    border: 1px solid var(--button-active);
}

nav button:hover {
    border: unset;
    background-color: unset;
    color: unset;
}

h2 {
    font-size: 45px;
    font-weight: 300;
    margin: unset;
}

h3{
    font-size: 22px;
    line-height: 1.6;
    font-weight: 400;
}

p{
    font-family: var(--secodary-font);
    font-size: 17px;
    color: #292929;
}

section {
    display: flex;
    padding: 240px 0;

}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    padding: 0px 10px;
}

.login p {
    text-transform: uppercase;
    padding: 0px 10px;
    font-weight: 500;
}

.cta {
     padding: 20px 10px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-toggle span {
    width: 30px;
    height: 3px;
    background-color: #ffffff;
}

nav ul {
    list-style-type: none;
}

li a {
    text-decoration: unset;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 300;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    padding: 10px 20px;
    background: #161826;

}

.navegacion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 2px;
    padding: unset;
}

.hero {
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding:0 10%;  
    margin-bottom: 120px;
    margin-top: 120px;
}

.left-container{
    max-width: 550px;
}

.left-container h1 {
    font-size: 54px;
    line-height: 1.1;
    margin-bottom: 25px;
    margin-top: 0;
}

.left-container .fino {
    font-weight: 300;
    display: block;
}

.left-container p{
    margin-bottom: 2.5rem;
    font-weight: 400;
    line-height: 1.6;
}

.hero-actions {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.about-us{
    text-decoration: underline;
    text-underline-offset: 6px;
    color: var(--dark-text)
}

.about-software{
    display:flex;
    flex-direction: row;
    width: 100%;
    max-width: unset;
    padding: 0 !important;
}

.about-software .left-container {
    display: flex;
    width: 100%;


}

.software-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px 80px 0 0;
    display: block;
    margin-top: -88px;
    border: 2px solid var(--blue);
}

.about-software .right-container {
    display: flex;
    flex-direction: column;
    padding: 50px 70px;
    background: var(--blue);
    color: #ffffff;
    width: 100%;
    border-radius: 0 0 0 80px;


}

.right-container h2{
    font-weight: 300;
    margin-bottom: 20px
}

.right-container p {
    max-width: 100%;
    color: #FFFFFF;
    font-weight: 400;
}

.right-container li {
    font-family: var(--secodary-font);
    margin-bottom: 1rem;
    font-size: 16px;
}

.features-software {
    display: flex;
}

.features-grid {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: auto auto auto ;
    

}

.feature {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    gap: 30px;
}

.feature-left1{
    width: 80%;
    grid-area: 1 / 1 / 1 / 2;
}

.feature-right1{
    width: 80%;
    grid-area: 2 / 2 / 2 / 3;
}

.feature-left2{
    width: 80%;
    grid-area: 3 / 1 / 3/ 2;
}

.advantages {
    display: flex;
    flex-direction: row;
    background:linear-gradient(180deg, var(--primary-background) 0%, #1a1e29 30%);
    color:#FFFFFF;
    padding: 200px 10%;
    text-align: center;
}

.column-full{
    margin-bottom: 80px;
}

.column-full h2 {
    padding-top: 50px;
    font-weight: 300;
    margin-bottom: 20px;
}

.column-full p {
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
    color:  #ffffff;
}

.advant-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    max-width: 1220px;
    margin: 0 auto;
}

.advantage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forWho {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background:linear-gradient(180deg, #1a1e29 30%, var(--secondary-background)100%);
    color: #FFFFFF;
}

.forWho .left-container{
    width: 100%;
    padding: 100px;
}

.forWho .left-container p {
    margin-bottom: 10px !important;
    color: #ffffff;
}

.forWho .right-container{
    width: 100%;
}

.close-cta {
    display: flex;
    justify-content: center;
    align-content: center;
    background: var(--secondary-background);
    color: #ffffff;
    text-align: center;

}

.close-cta button {
    margin-top: 20px;
}


footer {
    background: var(--secondary-background);
    padding: 50px;
}

.gen-info{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    color: var(--white);
    padding: 50px;
    font-family: 'Montserrat', sans-serif;
}

.Taxease p {
    color: #ffffff;
    font-family: var(--primary-font);
    font-weight: 300;
    font-size: 14px;
}

.copyright {
    text-align: center;
    padding-top: 20px;
    color: #ffffff;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}



.gen-info span {
    display: flex;
    font-weight: 600;
    justify-content: center;
}

.gen-info li {
    font-size: 14px;
    line-height: 1.6;
    font-weight: 300;
}



@media (max-width: 767px){
    * {
        box-sizing: border-box;
    } 

    section {
       width: 100%;
       max-width: 767px;
       
    }

    .left-container h1{
        font-size: 38px;
    }

    h2{
        font-size: 26px;

    }

    p{
        font-size: 12px;
        font-weight: 200;
    }

    nav {
        grid-template-columns: 1fr auto;
        position: relative;
    }

    .menu-toggle{
        display: flex;
    }

    .navegacion{
       display: none;
       flex-direction: column;
       width: 100%;
       position: absolute;
       top: 100%;
       left: 0;
       background: #ffffff;
       padding: 20px 0;
       z-index: 200;
    }

    .navegacion.active {
        display: flex;
    }
    .navegacion li {
        margin: 15px 0
    }

    .hero{
        margin: unset;
        padding: 80px 20px 50px 20px;
        min-height: 67vh;
    }

    .hero p {
        font-weight: 200;
    }

    .about-us{
        font-size: 14px !important;
    }

    .about-software .left-container{
        visibility: hidden;
        display: none;
    }

    .about-software .right-container{
        border-radius: unset;
        padding: 50px 20px 50px 20px;
    }

    .about-software .right-container p {
        font-weight: 200;
    }

    .about-software .right-container li {
        font-family: var(--secodary-font);
        font-size: 14px;
        text-align: left;
        font-weight: 200;
    }


    .features-grid{
        grid-template-columns: 1fr;
        grid-row: repeat(3, 1fr);
        padding: 50px 20px 50px 20px
    }


    .feature {
        grid-area: unset;
        padding:unset;
        margin: 20px 0;
    }

    .feature img {
        width: 40px;
        height: 40px;
    }

    /*advantages*/

    .advantages{
        display: flex;
        flex-direction: column;
        padding: 50px 20px 50px 20px;
    }

    .column-full{
        display: flex;
        flex-direction: column;
    }
    
    .advant-grid{
        width: 100%;
        grid-template-columns: 1fr;
    }
    
    .advantage img {
        width: 60px;
        height: 60px;
    }

    .advantage h3 {
        font-size: 18px;
    }

    /*forWho*/

    .forWho{
        grid-template-columns: 1fr;
        padding: 50px 20px 50px 20px;
    }

    .forWho .left-container{
        padding: unset;
    }

    .forWho .left-container ul {
        font-size: 12px;
        font-weight: 200;
    }

    .forWho .left-container p {
        font-weight: 200;
    }

    /*cta*/

    .close-cta {
        padding: 50px 20px 50px 20px;
    }

    /*footer*/

    footer {
        padding: 50px 20px 50px 20px;
    }
    .gen-info{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        padding: unset;
    }

    .Taxease p {
        font-weight: 200;
        font-size: 12px;
    }

    .gen-info  li {
        font-weight: 200;
        font-size: 12px;
    }

    .gen-info span {
        padding-top: 20px;
        justify-content: left;
    }
    
}
